        h1 {
            font-family: sans-serif;
            text-align: center;
        }

        p {
            font-family: monospace;
            display: inline-block;
            left: 295px;
            position: absolute
            /*poderia usar o float tmb*/
        }

        body {
            background-color: #8d99ae;
        }

        .hab1 {
            font-size: 30px;
        }

        .hab2 {
            font-size: 25px;

        }

        .hab3 {
            font: size 20px; ;
        }

      /* .div1 {
           border: 5px solid red;
       }

       .div2 {
        border: 5px solid red;
    }*/

    #foto{
        padding: 10px;
        background-color: #e0fbfc;
        border-radius: 30px;
    }

   ul li:nth-child(odd){
       color: rgb(176, 221, 180);
   }
